<!DOCTYPE html>
<html lang="en" ng-app="tc">

<head>
  <!--  Make IE to be a new IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--  Charset settings -->
  <meta charset="utf-8">
  <!--  Robots -->
  <meta name="robots" content="none">
  <!--  Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--  Title -->
  <title>CSS-core</title>
  <!-- Fonts include -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
  <!-- Favicon settings -->
  <link rel="apple-touch-icon" href="">
  <link rel="icon" href="">
  <!-- Styles -->
  <link rel="stylesheet" href="../css/style.min.css?ver=1.07">
  <link rel="stylesheet" href="../css/dark.min.css?ver=1.07">
  <script src="http://localhost:35729/livereload.js"></script>
</head>

<body>
  <main class="main">
    <section class="mv">
      <header class="header">
        <h2 class="m-b">Typography</h2> </header>
      <article class="box">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <div class="row">
          <div class="[ col-xs-12 col-md-4 ] text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet molestie nunc. Nullam gravida ante ut bibendum mollis. Pellentesque vestibulum massa ut massa viverra fermentum. Aliquam lobortis, lorem vitae lobortis aliquet, ipsum eros eleifend erat, non bibendum risus dui a mauris. Nullam consequat fringilla orci quis commodo. Nunc non dapibus libero. <a class="" href="#">Sed a vulputate massa</a>, vitae ornare lacus. Sed quis vehicula neque. Sed et magna gravida tortor feugiat pulvinar. Donec a ante quis elit consectetur vulp<span class="selection">utate eget quis tellus. In venenatis, neque a dictum egestas, ex dolor maximus metus, ut ultrices mi lorem ut o</span>dio. Nulla cursus orci finibus dolor varius interdum.</div>
          <div class="[ col-xs-12 col-md-4 ] text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet molestie nunc. Nullam gravida ante ut bibendum mollis. Pellentesque vestibulum massa ut massa viverra fermentum. Aliquam lobortis, lorem vitae lobortis aliquet, ipsum eros eleifend erat, non bibendum risus dui a mauris. Nullam consequat fringilla orci quis commodo. Nunc non dapibus libero. <a class="" href="#">Sed a vulputate massa</a>, vitae ornare lacus. Sed quis vehicula neque. Sed et magna gravida tortor feugiat pulvinar. Donec a ante quis elit consectetur vulp<span class="selection">utate eget quis tellus. In venenatis, neque a dictum egestas, ex dolor maximus metus, ut ultrices mi lorem ut o</span>dio. Nulla cursus orci finibus dolor varius interdum.</div>
          <div class="[ col-xs-12 col-md-4 ] text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet molestie nunc. Nullam gravida ante ut bibendum mollis. Pellentesque vestibulum massa ut massa viverra fermentum. Aliquam lobortis, lorem vitae lobortis aliquet, ipsum eros eleifend erat, non bibendum risus dui a mauris. Nullam consequat fringilla orci quis commodo. Nunc non dapibus libero. <a class="" href="#">Sed a vulputate massa</a>, vitae ornare lacus. Sed quis vehicula neque. Sed et magna gravida tortor feugiat pulvinar. Donec a ante quis elit consectetur vulp<span class="selection">utate eget quis tellus. In venenatis, neque a dictum egestas, ex dolor maximus metus, ut ultrices mi lorem ut o</span>dio. Nulla cursus orci finibus dolor varius interdum.</div>
        </div>
      </article>
    </section>
    <section>
      <header class="header">
        <h2 class="m-b">Buttons</h2> </header>
      <article class="box">
        <div class="row text-center">
          <div class="col-xs">
            <button class="button"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button"><span class="button__text">Click me!</span></button>
          </div>
        </div>
      </article>
      <article class="box mt">
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button"><span class="button__text">Long text will be gently cut</span></button>
          </div>
        </div>
      </article>
    </section>
    <section>
      <header class="header">
        <h2 class="m-b">Secondary buttons</h2> </header>
      <article class="box">
        <div class="row text-center">
          <div class="col-xs">
            <button class="button button--secondary"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button button--secondary"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button button--secondary"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button button--secondary"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button button--secondary"><span class="button__text">Click me!</span></button>
          </div>
          <div class="col-xs">
            <button class="button button--secondary"><span class="button__text">Click me!</span></button>
          </div>
        </div>
      </article>
      <article class="box mt">
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 overflow-hidden">
            <button class="button button--secondary"><span class="button__text">Long text will be gently cut</span></button>
          </div>
        </div>
      </article>
    </section>
  </main>
</body>

</html>