<!DOCTYPE html>
<html lang="en" ng-app="tc">

<head>
  <!--  Make IE to be a new IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--  Charset settings -->
  <meta charset="utf-8">
  <!--  Robots -->
  <meta name="robots" content="none">
  <!--  Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--  Title -->
  <title>CSS-core</title>
  <!-- Fonts include -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <!-- Favicon settings -->
  <link rel="apple-touch-icon" href="">
  <link rel="icon" href="">
  <!-- Styles -->
  <link rel="stylesheet" href="../css/style.min.css?ver=1.07">
  <link rel="stylesheet" href="../css/light.min.css?ver=1.07">
  <script src="http://localhost:35729/livereload.js"></script>
</head>

<body>
  <main class="main">
  </main>
</body>

</html>